body {
    padding-top: 50px;
    padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	color:#616161;
	font-size:12px;
	margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/***********************************/
/********** Barra Superior *********/
/***********************************/

.navbar-inverse{
    background-color: #009999;
    border-bottom: #009999;

}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color:#fff;
}


/***********************************/
/************ Formulários **********/
/***********************************/


.btn-default {
    background-color: #009999;
    border-color: #009999;
    color: #fff;
}