@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Férias Fácil</h1>
    <p class="lead">Sistema simplificado de marcação de férias</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Solicite</h2>
        <p>
            Torne o processo de solicitação mais fácil e simplificado. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Acompanhe</h2>
        <p>Blá Blá Blá</p>
    </div>
    <div class="col-md-4">
        <h2>Gerencie</h2>
        <p>Blá Blá blá</p>
    </div>
</div>